<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>:(</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link th:href="@{/styles/style.css}" rel="stylesheet" />
  </head>
  <body>
    <div th:replace="~{/fragments/header :: header}"></div>
  	<div class="container mt-4">
    	<h2>Upss...</h2>
    	Puede que la página no exista o no tiene accesos.
  	</div>
  	<div th:replace="~{fragments/footer :: footer}">&copy; 2016 The Static Templates</div>
  </body>
</html>