<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link th:href="@{/styles/style.css}" rel="stylesheet" />
  </head>

  <body>
  	<div class="container mt-4">
    	<h2>La página solicitada no existe</h2>
  	</div>
  </body>

</html>