<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Bienvenido a Pizza Hurt</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/styles/style.css}" rel="stylesheet" />
  </head>
  <body>
	<div th:replace="~{/fragments/header :: header}">
	</div>
    <div id="contenido">
      <p>
         <div th:unless="${#lists.isEmpty(users)}">
         <ul>
         	<li> th:each="userDTO: ${usersDTO}">
         		<span> th:text="${userDTO.fullname}"> NOMBRE</span>
         		<span> th:text="${userDTO.email}"> EMAIL</span>
         	</li>
         </ul>
         </div>
         
         <form th:object="${userDTO}" action="/addUser" method="post">

			<label for="fullname">Nombre: </label> 
	         <input id="fullname" type="text" name="fullname"/></br> 
	         <label for="email" type="text" name="email">Email: </label> 
	         <input id="email" type="text" name="email"/></br> 
	         <button type="submit">Agregar</button>
         </form> 
      </p>
    </div>
    <div th:replace="~{fragments/footer :: footer}">&copy; 2016 The Static Templates</div>
</html>