<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Aquí irían tus referencias a CSS o JS adicionales -->
</head>
<body>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                   <h2 class="card-title text-center">Ingresar</h2>
                    <form th:action="@{/login}" method="post" th:object=${userDTO}>
                    	    <div th:if="${param.error}">
						        <div class="alert alert-danger">
						            <span>Credenciales erróneas</span>
						        </div>
						    </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="text" name="username" class="form-control" required="required"/>
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña:</label>
                            <input type="password" name="password" class="form-control" required="required"/>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                        </div>
                    </form>
                    <div class="text-center">
                        <a href="#" th:href="@{/signin}">Crear un nuevo usuario</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
