<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Pagar y Enviar Orden</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/styles/style.css}" rel="stylesheet" />
	<script type="text/javascript" th:src="@{/scripts/script.js}"></script>
  </head>
  <body>
	<div th:replace="~{/fragments/header :: header}">
	</div>
    <div id="content">
		<h1>Pagar y Enviar Orden</h1>
			<form method="POST" th:object="${order}">
				<div th:if="${#fields.hasAnyErrors()}">
					<p th:each="err : ${#fields.allErrors()}" th:text="${err}"/>
				</div>
				<div class="flex-column">
					<h2>Orden:</h2>
					<div class="left">
						<ul>
							<div th:each="pizza,iter2 : ${order.pizzas}">
								<li>
									<div class="flex">
										<span th:text="Pizza +' '+${iter2.index+1}">Pizza</span> -
										<label class="label-width-auto" for="name" type="text" name="name" >Nombre: </label> 
										<span th:object="${pizza}" th:text="${pizza.name}">nombre</span>
									</div>
								</li>
							</div>
						</ul>
					</div>
					<div>Total: $<span th:text=${order.total}>Total</span></div>
				</div>
				<div class="flex-column">
					<h2>Envío:</h2>
					<div class="left">
						<label for="street" type="text" name="street" >Calle: </label> 
						<input type="text" th:field="*{delivery.address.street}"/>
						<br>
						<label for="doorNumber" type="text" name="doorNumber" >Nro de puerta: </label> 
						<input type="text" th:field="*{delivery.address.doorNumber}"/>
						<br>
						<label for="apartmentNumber" type="text" name="apartmentNumber" >Apartamento: </label> 
						<input type="text" th:field="*{delivery.address.apartmentNumber}"/>
						<br>
						<label for="district" type="text" name="district" >Barrio: </label> 
						<input type="text" th:field="*{delivery.address.district}"/>
						<br>
						<label for="zipCode" type="text" name="zipCode" >Código postal: </label> 
						<input type="text" th:field="*{delivery.address.zipCode}"/>
						<br>
						<label for="observations" type="text" name="observations" >Observaciones: </label> 
						<textarea th:field="*{delivery.observations}"/>
					</div>
				</div>
				<div class="flex-column">
					<h2>Pago:</h2>
					<div class="left">
						<label for="size" type="text" name="size" >Tarjeta: </label>
						<select th:object="${cards}" >
							<option value="0">Seleccione</option>
							<option th:each="card : ${cards}" th:value="${card.id}" th:text="${card.cardNumber}" th:field="${payment.card.id}"></option>
						</select>
					</div>
				</div>
				<br>
				<button>Confirmar</button>
			</form>
	</div>
	<div th:replace="~{fragments/footer :: footer}">&copy; 2016 The Static Templates</div>
</body>
</html>
