<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Ver Orden</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/styles/style.css}" rel="stylesheet" />
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<script type="text/javascript" th:src="@{/scripts/script.js}"></script>
  </head>
  <body>
	<div th:replace="~{/fragments/header :: header}">
	</div>
    <div id="content" class="container mt-5">
		<h1>Orden</h1>
			<form  th:object="${order}">
				<div class="flex-column container mt-5">
					<h2>Orden:</h2>
					<div class="left">
						<ul>
							<div th:each="pizza,iter2 : ${order.pizzas}">
								<li>
									<div class="flex">
										<span th:text="Pizza +' '+${iter2.index+1}">Pizza</span> -
										<label class="label-width-auto" for="name" type="text" name="name" >Nombre: </label> 
										<span th:object="${pizza}" th:text="${pizza.name}">nombre</span>
									</div>
								</li>
							</div>
						</ul>
					</div>
					<div>Total: $<span th:text=${order.total}>Total</span></div>
				</div>
				<div class="flex-column container mt-5">
					<h2>Envío:</h2>
					<div class="left">
						<label for="street" type="text" name="street" >Calle: </label> 
						<input type="text" class="form-control" th:field="*{delivery.address.street}" disabled/>
						<br>
						<label for="doorNumber" type="text" name="doorNumber" >Nro de puerta: </label> 
						<input type="text" class="form-control" th:field="*{delivery.address.doorNumber}" disabled/>
						<br>
						<label for="apartmentNumber" type="text" name="apartmentNumber" >Apartamento: </label> 
						<input type="text" class="form-control" th:field="*{delivery.address.apartmentNumber}" disabled/>
						<br>
						<label for="district" type="text" name="district" >Barrio: </label> 
						<input type="text" class="form-control" th:field="*{delivery.address.district}" disabled/>
						<br>
						<label for="zipCode" type="text" name="zipCode" >Código postal: </label> 
						<input type="text" class="form-control" th:field="*{delivery.address.zipCode}" disabled/>
						<br>
						<label for="observations" type="text" name="observations" >Observaciones: </label> 
						<textarea class="form-control" th:field="*{delivery.observations}" disabled/>
					</div>
				</div>
				<div class="flex-column container mt-5">
					<h2>Pago:</h2>
					<div class="left">
						<label for="size" type="text" name="size" >Tarjeta: </label>
						<input type="text" class="form-control" th:field="*{payment.card.cardNumber}" disabled/>
					</div>
				</div>
				<br>
			</form>
	</div>
	<div th:replace="~{fragments/footer :: footer}">&copy; 2016 The Static Templates</div>
</body>
</html>
