<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Ordenes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/styles/style.css}" rel="stylesheet" />
	<script type="text/javascript" th:src="@{/scripts/script.js}"></script>
  </head>
  <body>
	<div th:replace="~{/fragments/header :: header}">
	</div>
    <div id="content">
		<h1>Ordenes</h1>
		<form method="POST" th:object="${orders}">
				<div th:if="${#fields.hasAnyErrors()}">
					<p th:each="err : ${#fields.allErrors()}" th:text="${err}"/>
				</div>
					<ol>
						<div th:each="order,iter : ${orders}" >
						<span th:text="Orden +' '+${iter.index+1}">Orden</span>
							<li>
								<ul>
									<div th:each="pizza,iter2 : ${order.pizzas}">
										<span th:text="Pizza +' '+${iter2.index+1}">Pizza</span>
										<li>
											<div class="flex">
												<label for="name" type="text" name="name" >Nombre: </label> 
												<span th:object="${pizza}" th:text="${pizza.name}">nombre</span>
											</div>
										</li>
									</div>
								</ul>
							</li>
							<button disabled>Pagar y Enviar</button>
							<hr>
							</br>
						</div>
					</ol>
		</form>
	</div>
	<div th:replace="~{fragments/footer :: footer}">&copy; 2016 The Static Templates</div>
</body>
</html>
