body{
    background-color: rgba(16, 160, 232, 0.05) !important;
    margin: 0 !important;
    font-family: calibri !important;
}

.footer {
  padding-top: 50px;
}
.inner-footer{
	background-color: rgb(150, 220, 240);
	position: fixed;
  	bottom: 0;
  	margin-top: 100px;
  	width: 100%;
  	color: white;
  	text-align: left;
}

label {
  color: #B4886B;
  font-weight: bold;
  width: 130px;
  float: left;

}

.header {
  overflow: hidden;
  background-color: rgb(150, 220, 240);
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
    margin-right: 5px;    
    padding: 5px;
}

form.scroll{
    overflow-y: auto;
    max-height: 600px;
}
a:hover {
    text-decoration: underline;
}
div#content {
    width: 80%;
    margin: 40px auto;
    text-align: center;
}

div.border{
	border: 1px solid rgb(16, 160, 232);
}

div.grid{
	display: flex;
    flex-flow: wrap;
    padding: 5px;
    margin: auto;
}
div.pizza-component{
	margin:5px;
	
}

.label-width-auto{
	width: auto;
}

.left{
	text-align:left;
	margin: auto;
}

.flex-column{
	display: flex;
    flex-direction: column;
}

div.flex-inline{
	display: inline-flex;
}

div.flex{
	display: flex;
}

input::placeholder{
    color: rgb(236, 247, 255);
}